<!DOCTYPE html>
<html lang="en" class="jsx jsc letter_template theme_lightmode">
<head>
  <meta charset="UTF-8">
  <title>Application to Job</title>

  <base href="./" />



  <link
      rel="stylesheet"
      type="text/css"
      charset="utf-8"
      href="../../cdn/fonts/styles_fonts.css"
  />

  <link
      rel="stylesheet"
      type="text/css"
      charset="utf-8"
      href="../../cdn/node_modules/@jaisocx/media_tools_fonts_base/MediaAndStyles/JscFonts_main_resolved.css"
  />

  <link
      rel="stylesheet"
      type="text/css"
      charset="utf-8"
      href="../../cdn/node_modules/@jaisocx/css_clean_start_lite/MediaAndStyles/CssCleanStart_Lite_main_resolved.css"
  />

  <link
        rel="stylesheet"
        type="text/css"
        charset="utf-8"
        href="css/letter_styles_main.css"
  />

  <link
      rel="stylesheet"
      type="text/css"
      charset="utf-8"
      href="css/letter_theme_base.css"
  />

</head>
<body><main>
    <header>
        <div class="address-col address-col-first">
            <div class="company letter_first">
                <div class="logo">
                    <img src="images/logos/recipient/logoipsum-227.png" />
                </div>
                <div class="companyName">Logo Impsum</div>
            </div>
            <div class="contactPerson">
                to: Logo Impsum Recruiters Team
            </div>
            <div class="postal-address">
                <div class="postal-address-line">
                    <span class="street">CompanyStreet 1</span>
                </div>
                <div class="postal-address-line">
                    <span class="zip">345678</span>
                    <span class="town">Town</span>
                </div>
                <div class="postal-address-line">
                    <span class="land">Land</span>
                </div>
            </div>
            <div class="email"><a href="mailto:">jobs@logo_impsum_company.com</a></div>
        </div>
        <div class="address-col address-col-second">
            <!--<div class="adress-col-second-margin"></div>-->
            <div class="company applicant">
                <div class="logo">
                    <img src="../../cdn/images/Logos_of_Jaisocx/Logo_left/cropped_logo_left/logo_Jaisocx_2_title_on_the_right_side.png" />
                </div>
                <div class="companyName">&lt;Your Name&gt;</div>
            </div>
            <div class="contactPerson">
                &lt;Your Name&gt;
            </div>
            <div class="postal-address">
                <div class="postal-address-line">
                    <span class="street">StreeetInTown 1</span>
                </div>
                <div class="postal-address-line">
                    <span class="zip">12378745</span>
                    <span class="town">Town</span>
                </div>
                <div class="postal-address-line">
                    <span class="land">Country</span>
                </div>
            </div>
            <div class="email">
                <a href="mailto:&lt;Your Name&gt;@gmail.com">&lt;Your Name&gt;@gmail.com</a>
            </div>
        </div>
    </header>
    <div class="letter_content">
        <div class="paragraph theme">Application for Job: "The best Job since ever))"</div>
        <div class="text">
            <span class="paragraph">
                Good day, dear Company Recruiters Team.
            </span>
            <span class="paragraph">
                The custom application cover letter text.
            </span>
            <span class="paragraph">
                The custom application cover letter text 2.
            </span>
            <span class="paragraph">
                The custom application cover letter text 3.
            </span>
        </div>
        <span class="line regards">Friendly Greeting,</span>
        <span class="line name">&lt;Your Name&gt;</span>

        <div class="signature">
            <span class="date-and-place">
                <strong>Place:</strong>
                <span>Town, Land</span> 
                <strong>Date: </strong> 
                <span>&lt;DateTime&gt;</span>
            </span>
        </div>
    </div>
</main></body>
</html>





